// ion-toggle {
//   padding: 12px;
.group-checkbox {
  border-bottom: 1px solid #dddce0;
}
.datetime {
  .content {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 4px;
    .text {
      margin-left: 8px;
    }
  }
}

.datetime-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.image {
  width: 100%;
  padding: 16px;
}
::ng-deep {
  /* to penetrate <ngx-editor> CSS styling */

  .NgxEditor {
    min-height: 10rem;
  }

  .NgxEditor__Content {
    max-height: calc(10rem);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
}

.chooseOrg {
  width: 90%;
  margin-right: 6px;
}
