::ng-deep{
    .ion-page {
    font-size: 14px;
    color: #737373;
    .select-language{
        .native-wrapper {
            justify-content: space-between;
            width: 100%;
            
        }
    }
        
    }
}