.background-dark{
    background-color: var(--ion-color-dark);
}

.background-light{
    background-color: var(--app-color-light-100);
}


.border-dark{
    border-color: var(--ion-color-dark);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .attachment-chip {
    overflow-x: auto;
    // max-width: 200px;
  }

  .attachment-chip::-webkit-scrollbar {
    height: 8px;
  }

  .attachment-chip::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .attachment-chip::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
