<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex items-center">
        <ion-button fill="clear" color="dark" [routerLink]="['/', 'tabs', 'community']" slot="start">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button> 
      <ion-searchbar
        placeholder="{{ 'PLACEHOLDER.SEARCH_USERS' | translate }}"
        class="mt-3 pl-0 pr-1"
        [value]="searchValue"
        (ionFocus)="showSearchUserModel()"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-user-list (getThumbnail)="getImageSrc($event)" [users]="users" [isLoading]="isLoading"></app-user-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-zoom [showModal]="showModal" [image]="imagesString" (closeModal)="closeModal($event)"></app-zoom>
</ion-content>