<div class="items-center">
  <span class="text-sm pr-2">{{selectedCity.name}}</span>
  <ion-icon slot="end" class="text-sm" name="chevron-down-outline"></ion-icon>
</div>

<ion-modal [isOpen]="isOpen">
<ng-template>
<ion-header>
  <ion-toolbar class="text-sm">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" class="normal-case">{{'BUTTON.CANCEL' | translate}}</ion-button>
    </ion-buttons>
    <ion-title class="text-sm pl-24">{{ 'SELECT.LABEL.CITY' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchbarInput($event)" placeholder="Tìm kiếm"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-list id="modal-list">
    <ion-item *ngFor="let item of citiesFiltered; trackBy: trackItems" lines="none">
      <ion-checkbox [value]="item" [checked]="isChecked(item)" (ionChange)="checkboxChange(item)">{{item.name}}</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
</ng-template>
</ion-modal>
