.user-reaction-row {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-reaction-info {
    margin-left: 10px;
  }


  // ion-modal ion-content {
  //   --offset-top: unset !important;
  //   --offset-bottom: unset !important;
  //   // overflow: auto !important;
  //   }