<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex items-center">
      <ion-buttons>
        <ion-button fill="clear" color="dark" [routerLink]="['/auth/login']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons> 
          <ion-title class="text-sm">{{'PAGES.FORGOT.TITLE' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="forgotForm" novalidate>
    <div class="forgot-page">
      <ion-list>
        <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
          <img src="../../../assets/logo/gcec.png" />
        </ion-item>
        <ion-item lines="none">
          {{'PAGES.FORGOT.TYPE_EMAIL' | translate}}
        </ion-item>

        <ion-item >
          <ion-input label="Email" formControlName="email" labelPlacement="floating" [clearInput]="true"
           placeholder="email@gmail.com"></ion-input>
        </ion-item>
        <div class="error-container"
          *ngIf="(forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched) || forgotForm.get('email')?.dirty  || isSubmitting">
          <div class="text-rose-600	text-xs pl-4 pr-4">
            <span *ngIf="forgotForm.get('email')?.errors?.['required']">
              {{ 'FORM.VALID.EMAIL.REQUIRED' | translate}}
            </span>
            <span *ngIf="forgotForm.get('email')?.errors?.['pattern']">
              {{ 'FORM.VALID.EMAIL.CORRECT_FORMAT' | translate}}
            </span>
          </div>
        </div>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button class="px-2" (click)="submit()" expand="block" [disabled]="forgotForm.invalid || isSubmitting">
            <ion-icon name="reload-outline" [hidden]="!isSubmitting" class="icon-load mr-3"></ion-icon>
            <span>{{'BUTTON.SEND_EMAIL'}}</span></ion-button>
        </ion-col>
      </ion-row>

    </div>
  </form>
</ion-content>