<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex items-center w-full">
      <ion-buttons>
        <ion-button fill="clear" color="dark" (click)="goBack()" slot="start">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div class="w-full text-center">
        <p>{{'TAB.COMMERCE.ORDER.YOUR_ADDRESS' | translate}}</p>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-content class="flex justify-center">
      <ion-button color="dark" fill="outline" (click)="createAddress()">
        <ion-icon name="add-outline" class="mr-2"></ion-icon>
        {{'TAB.COMMERCE.ORDER.ADD_DELIVERY_ADDRESS' | translate}}
      </ion-button>
    </ion-card-content>

    <ion-modal [isOpen]="showCreateAddress" (didDismiss)="setOpenCreateAddress(false)" initialBreakpoint="0.85"
      [breakpoints]="[0, 0.85]">
      <ng-template>
        <app-address-shipping-create (closeCreateAddress)="setOpenCreateAddress($event)"
          (getAddress)="onDeliveryAddress($event)" [type]="this.type" [data]="address"></app-address-shipping-create>
      </ng-template>
    </ion-modal>

  </ion-card>

  <ion-card *ngFor="let address of data">
    <ion-card-content>
      <div class="flex text-black text-sm justify-between">
        <div>
          <div class="ml-1 font-blod">
            <span>{{me?.username }}</span>
          </div>
          <div class="ml-1">
            <span>(+84){{me?.phone }}</span>
          </div>
          <div class="flex text-black text-sm items-center ml-0.5">
            <span class="ml-1">{{
              address?.address }}</span>
          </div>
        </div>
        <!-- <ion-button fill="clear" class="text-red-500" (click)="updateAddress(address)"> {{'TAB.COMMERCE.CART.UPDATE'
          | translate}}</ion-button> -->

        <div style="display: flex; align-items: center" class="-mr-2">
          <div class="ion-activatable ripple-parent circle rounded-rectangle rotate-90 -mr-2 ">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"
              [id]="'open-action-sheet' + address.id"></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
          <ion-action-sheet [trigger]="'open-action-sheet' + address.id" [buttons]="actionSheet"
            (didDismiss)="updateAddress($event, address)"></ion-action-sheet>
        </div>
      </div>

    </ion-card-content>

  </ion-card>
</ion-content>