<ion-header>
  <div style="padding-left: 16px; padding-right: 16px">
    <div style="
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 48px;
        border-bottom: 1px solid #dddce0;
      ">
      <ion-label style="width: 100%">
        <div class="flex justify-between" (click)="setOpen(!isModalOpen)">
          <div class="text-base">{{ title | translate }}</div>
          <ion-icon name="people-outline" style="font-size: 24px; width: 8%"></ion-icon>
        </div>
        <div *ngIf="mentions.length">
          <ion-chip size="small" color="none" class="text-xs p-0 color-blue-600"
            *ngFor="let mention of mentions; index as i" style="
              margin-right: 12px;
              border: 1px solid #f1f1f1;
              padding: 8px;
              background-color: #f1f1f1;
            " (click)="removeMention(mention)">
            <a color="primary" class="color-blue-600">{{ mention.username }}</a>
            <ion-icon name="close" style="font-size: 12px; color: red"></ion-icon>
          </ion-chip>
        </div>
      </ion-label>

    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar class="text-sm">
          <ion-buttons slot="start">
            <ion-button (click)="cancelChanges()" class="normal-case">{{
              "BUTTON.CANCEL" | translate
              }}</ion-button>
          </ion-buttons>

          <ion-title class="text-center text-base">{{
            "MODAL.USER.MEMBERS" | translate
            }}</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="confirmChanges()" class="normal-case" [disabled]="!mentions.length">{{ "BUTTON.CHOICE"
              | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-toolbar>
        <div class="flex">
          <ion-searchbar [debounce]="1500" placeholder="{{ 'PLACEHOLDER.SEARCH' | translate }}" class="mt-1"
            (ionInput)="handleSearch($event)"></ion-searchbar>
        </div>
      </ion-toolbar>
      <ion-item *ngIf="mentions.length">
        <div *ngIf="mentions.length" class="hashtags">
          <ion-chip size="small" color="none" class="text-xs p-0 color-blue-600"
            *ngFor="let mention of mentions; index as i" style="
              margin-right: 12px;
              border: 1px solid #f1f1f1;
              padding: 8px;
              background-color: #f1f1f1;
            " (click)="removeMention(mention)">
            <a color="primary" class="color-blue-600">{{ mention.username }}</a>
            <ion-icon name="close" style="font-size: 12px; color: red"></ion-icon>
          </ion-chip>
        </div>
      </ion-item>

      <ion-content color="light" [fullscreen]="true">
        <ion-checkbox-group>
          <ion-item *ngFor="let item of data; trackBy: trackItems" lines="none">
            <ion-checkbox [value]="item.id" [(ngModel)]="item.isSelected"
              (ionChange)="ionChangeMention(item.id, item.isSelected)" *ngIf="!isLoading">
              {{ item.username }}</ion-checkbox>

            <ion-checkbox *ngIf="isLoading">
              <ion-skeleton-text [animated]="true" style="height: 44px"></ion-skeleton-text>
            </ion-checkbox>
          </ion-item>
        </ion-checkbox-group>

        <ion-infinite-scroll *ngIf="isScroll" (ionInfinite)="loadMentions($event)">
          <ion-infinite-scroll-content> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>