<!-- <div class="fab-wrapper">
  <input [id]="'fabCheckbox-' + page" type="checkbox" class="fab-checkbox" />
  <label class="fab" [for]="'fabCheckbox-' + page">
    <span class="fab-dots fab-dots-1"></span>
    <span class="fab-dots fab-dots-2"></span>
    <span class="fab-dots fab-dots-3"></span>
  </label>
  <div class="fab-wheel" *ngFor="let item of buttons; index as i">
    <button class="fab-action" [ngStyle]="{'right': '-1rem', 'bottom': (i+1) * 3 + 'rem' }"
      (click)="addType(item.type)">
      <ion-icon [name]="item.icon"></ion-icon>
      <p>&nbsp; {{ item.title }}</p>
    </button>
  </div>
</div> -->

<ion-button color="has_requested" fill="outline" shape="outline"  [class]="buttons.length === 4 || language === 'en' ? 'w-26' : ''" *ngFor="let item of buttons" (click)="addType(item.type)">
  <span [class]="buttons.length === 4 || language === 'en' ? 'text-base w-24 mr-2' : 'text-base w-24 mr-2'">{{ item.title | translate }}</span>
  <ion-icon name="{{ item.icon }}"></ion-icon>
</ion-button>