<div class="w-full background-light fixed bottom-0">
  <hr class="h-px w-full background-medium-dark">
  <div class="flex items-center">
    <div class="flex flex-1 overflow-x-scroll">
      <div *ngFor="let item of users" class="flex items-center relative p-0 mx-2 rounded-md h-16 w-16">
        <div class="absolute grid place-items-center top-1 right-1 rounded-full background-light w-5 h-5">
          <div class="background-dark p-1 rounded-full flex items-center justify-items-center w-4 h-4"
            (click)="userRemove(item.id)">
            <ion-icon name="close" color="light" size="small"></ion-icon>
          </div>
        </div>
        <app-avatar [isAvatar]="true" [data]="item" [classNameAvatar]="'thumbnail-3'"></app-avatar>
      </div>
    </div>
    <ion-button class="mx-2" (click) ="createGroup()"><ion-icon name="arrow-forward-outline"></ion-icon> Tạo</ion-button>
  </div>
  <hr class="h-px w-full background-medium-dark">
</div>
