<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex items-center">
      <ion-buttons>
        <ion-button fill="clear" color="dark" [routerLink]="['/auth/login']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label class="text-sm ml-2 self-center"> Reset Pasword</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="resetForm" novalidate>
    <div class="register-page">
      <ion-list>
        <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
          <img src="../../../assets/logo/gcec.png" />
        </ion-item>

        <ion-item>
          <ion-input
            class="required"
            [label]="'FORM.FIELD.VERIFY_CODE' | translate"
            formControlName="verify_code"
            labelPlacement="floating"
          />
        </ion-item>
        <div
          class="error-container"
          *ngIf="(resetForm.get('verify_code')?.invalid && resetForm.get('verify_code')?.touched) || resetForm.get('verify_code')?.dirty || isSubmitting"
        >
          <div class="text-rose-600 text-xs pl-4 pr-4">
            <span *ngIf="resetForm.get('verify_code')?.errors?.['required']">
              {{'FORM.VALID.VERIFY_CODE.REQUIRED' | translate}}
            </span>
          </div>
        </div>

        <ion-item>
          <ion-input
            class="required"
            [label]="'FORM.FIELD.PASSWORD' | translate"
            formControlName="new_password"
            labelPlacement="floating"
            [type]="passwordType"
          />
          <ion-icon
            item-end
            [name]="passwordIcon"
            class="passwordIcon"
            (click)="hideShowPassword()"
          ></ion-icon>
        </ion-item>
        <div
          class="error-container"
          *ngIf="(resetForm.get('new_password')?.invalid && resetForm.get('new_password')?.touched) || resetForm.get('new_password')?.dirty || isSubmitting"
        >
          <div class="text-rose-600 text-xs pl-4 pr-4">
            <span *ngIf="resetForm.get('new_password')?.errors?.['required']">
              {{'FORM.VALID.PASSWORD.REQUIRED' | translate}}
            </span>
            <span *ngIf="resetForm.get('new_password')?.errors?.['pattern']">
              {{'FORM.VALID.PASSWORD.CORRECT_FORMAT' | translate}}</span
            >
          </div>
        </div>

        <ion-item>
          <ion-input
            [label]="'FORM.FIELD.CONFIRM_PASSWORD' | translate"
            class="required"
            formControlName="confirmPassword"
            labelPlacement="floating"
            [type]="passwordType"
          />
          <ion-icon
            item-end
            [name]="passwordIcon"
            class="passwordIcon"
            (click)="hideShowPassword()"
          ></ion-icon>
        </ion-item>
        <div
          class="error-container"
          *ngIf="(resetForm.get('password')?.invalid && resetForm.get('password')?.touched) || resetForm.get('password')?.dirty || isSubmitting"
        >
          <div class="text-rose-600 text-xs pl-4 pr-4">
            <span *ngIf="resetForm.get('password')?.errors?.['required']">
              {{'FORM.VALID.CONFIRM_PASSWORD.REQUIRED' | translate}}
            </span>
            <span *ngIf="resetForm.get('password')?.errors?.['pattern']">
              {{'FORM.VALID.CONFIRM_PASSWORD.CORRECT_MATCH' | translate}}</span
            >
          </div>
        </div>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button
            class="px-2"
            (click)="submit()"
            expand="block"
            [disabled]="resetForm.invalid || isSubmitting"
          >
            <ion-icon
              name="reload-outline"
              [hidden]="!isSubmitting"
              class="icon-load mr-3"
            ></ion-icon>
            <span>{{'BUTTON.RESET' | translate}}</span></ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
