ion-card-content {
    img {
        height: 48px;
        width: 48px;
    }
}

ion-checkbox.checkbox {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.position-icon {
  margin-left: -1px;
  margin-right: 3px;
}


