<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex flex-wrap justify-evenly">
    <ion-card class="w-5/12 m-0 card commerce-tab">
      Projects
    </ion-card>
    <ion-card class="w-5/12 m-0 card commerce-tab">
      Users
    </ion-card>
    <ion-card class="w-5/12 m-0 card commerce-tab">
      <app-chart-doughnut></app-chart-doughnut>
    </ion-card>
    <ion-card class="w-5/12 m-0 card commerce-tab">

    </ion-card>
  </div>
</ion-content>