ion-button::part(native) {
  padding-inline-start: 7px !important;
  padding-inline-end: 7px !important;
}


.card-content-ios {
padding-inline-end: 0px !important;
padding-top: 10px !important;
padding-bottom: 10px !important;
}