<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex">
      <ion-buttons>
        <ion-back-button class="text-xs" defaultHref="/terms-policy" text=""></ion-back-button>
      </ion-buttons>
      <ion-title class="text-sm">
        {{'PAGES.TERM_SAND_POLICY.ADDITIONAL_REGULATIONS.TITLE' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h3 class="uppercase-italic">Mang lại trải nghiệm dành riêng cho bạn:</h3>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-start text-sm">
        <pre>{{ 'REGULATIONS_CONTENT' | translate}}</pre>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>