.button-hightlight {
  background-color: var(--app-color-secondary-light);
  border: 1px solid #1c9bd1;
  border-radius: 1rem;
}

.button-noborder {
  background-color: var(--app-color-light-100);
  border-radius: 1rem;
}
