<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex">
      <ion-button fill="clear" color="dark" [routerLink]="['/', 'tabs', 'profile', 'security']" slot="start">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="text-sm">
        <div class="flex items-center">
          <div class="ml-2">
            <div class="">{{'PAGES.SECURITY.UPDATE_PASSWORD' | translate}}</div>
          </div>
        </div>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" novalidate>

    <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
      <img src="../../../assets/logo/gcec.png" />
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-input class="required" name="old_password" formControlName="old_password" [type]="oldPasswordType"
          label="{{ 'FORM.FIELD.OLD_PASSWORD' | translate}}" labelPlacement="floating" placeholder="">
        </ion-input>
        <ion-icon item-end [name]="oldPasswordIcon" class="passwordIcon" (click)='hideShowOldPassword()'></ion-icon>
      </ion-item>
      <div class="error-container"
        *ngIf="(form.get('old_password')?.invalid && form.get('old_password')?.touched) || form.get('old_password')?.dirty || isSubmitting">
        <div class="text-rose-600	text-xs pl-4 pr-4">
          <span *ngIf="form.get('old_password')?.errors?.['required']">
            {{ 'FORM.VALID.PASSWORD.REQUIRED' | translate}}
          </span>
          <span *ngIf="form.get('old_password')?.errors?.['pattern']">
            {{ 'FORM.VALID.PASSWORD.CORRECT_FORMAT' | translate}}</span>
        </div>
      </div>

      <ion-item>
        <ion-input class="required" name="new_password" formControlName="new_password" [type]="newPasswordType"
          label="{{ 'FORM.FIELD.NEW_PASSWORD' | translate}}" labelPlacement="floating" placeholder="">
        </ion-input>
        <ion-icon item-end [name]="newPasswordIcon" class="passwordIcon" (click)='hideShowNewPassword()'></ion-icon>
      </ion-item>
      <div class="error-container"
        *ngIf="(form.get('new_password')?.invalid && form.get('new_password')?.touched) || form.get('new_password')?.dirty || isSubmitting">
        <div class="text-rose-600	text-xs pl-4 pr-4">
          <span *ngIf="form.get('new_password')?.errors?.['required']">
            {{ 'FORM.VALID.NEW_PASSWORD.REQUIRED' | translate}}
          </span>
          <span *ngIf="form.get('new_password')?.errors?.['pattern']">
            {{ 'FORM.VALID.PASSWORD.CORRECT_FORMAT' | translate}}</span>
        </div>
      </div>

      <ion-item>
        <ion-input class="required" name="confirm_password" formControlName="confirm_password"
          [type]="confirmPasswordType" label="{{ 'FORM.FIELD.CONFIRM_PASSWORD' | translate}}" labelPlacement="floating"
          placeholder="">
        </ion-input>
        <ion-icon item-end [name]="confirmPasswordIcon" class="passwordIcon"
          (click)='hideShowConfirmPassword()'></ion-icon>
      </ion-item>
      <div class="error-container"
        *ngIf="(form.get('confirm_password')?.invalid && form.get('confirm_password')?.touched) || form.get('confirm_password')?.dirty || isSubmitting">
        <div class="text-rose-600	text-xs pl-4 pr-4">
          <span *ngIf="form.get('confirm_password')?.errors?.['required']">
            {{ 'FORM.VALID.CONFIRM_PASSWORD.REQUIRED' | translate}}
          </span>
          <span *ngIf="form.value.new_password !== form.value.confirm_password">
            {{ 'FORM.VALID.CONFIRM_PASSWORD.CORRECT_MATCH' | translate}}
          </span>
        </div>
      </div>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button class="px-2" (click)="submit()" expand="block" [disabled]="form.invalid">
          <ion-icon name="reload-outline" [hidden]="!isSubmitting" class="icon-load mr-3"></ion-icon>
          <span>{{ 'BUTTON.UPDATE' | translate}}</span></ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>