.list-avatars {
  display: flex;
  position: relative;

  .avatar-remain-count{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      color: #ffffff;
      font-size: 0.6rem;
      width: 0.9rem;
      text-align: center;
      height: 0.9rem;
      background-color: #00000050;
      border-radius: 50%
  }
}