<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <ion-buttons class="mr-2">
          <ion-button fill="clear" color="dark" (click)="goBack()" slot="start">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <!-- <ion-icon name="chevron-back-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <div *ngIf="isLoading">
          <ion-skeleton-text class="h-14" [animated]="true"></ion-skeleton-text>
        </div>
        <app-avatar [type]="'detail'" class="mr-4" [isAvatar]="isAvatar" [classNameAvatar]="'item'" [data]="data"
          *ngIf="!isLoading"></app-avatar>
        <div>
          <div *ngIf="isLoading">
            <ion-skeleton-text class="h-14" [animated]="true"></ion-skeleton-text>
          </div>
          <div *ngIf="!isLoading">
            <div class="pr-3">
              <a class="decoration-none font-bold text-sm"
                [routerLink]="['/tabs', 'organization', data?.organization?.id]" *ngIf="data?.organization">
                <h4>{{ data.organization.name }}</h4>
              </a>
              <p class="decoration-none font-bold" [class]="data?.organization ? 'text-xs' : 'text-sm'">
                <a [routerLink]="['/tabs', 'users', data?.user?.id]">
                  <span *ngIf="data?.organization" class="text-xs mr-2">{{ data.username }}</span>

                  <span *ngIf="!data?.organization">{{ data.username }}</span>
                </a>
                <span *ngIf="data?.organization" class="text-xs font-normal">{{ data.updated_date }}</span>
              </p>
            </div>
            <div class="text-xs font-normal" *ngIf="!data?.organization">
              {{ data.updated_date }}
            </div>
          </div>
        </div>

        <!-- <ion-text> {{ "TAB.HOME.COMMENTS" | translate }} </ion-text> -->
      </div>
      <div class="mr-4">
        <span class="spacer"></span>
        <ion-icon class="rotate-90" name="ellipsis-vertical-outline" [id]="'open-action-sheet-event'"></ion-icon>
        <ion-action-sheet [trigger]="'open-action-sheet-event'" [buttons]="
          me?.id !== data?.author?.id ? actionSheetGuests : actionSheetOwn
        " (didDismiss)="setResult($event)" *ngIf="me?.super_admin !== 1"></ion-action-sheet>
        <ion-action-sheet [trigger]="'open-action-sheet-event'" [buttons]="
           me?.id !== data?.author?.id ? actionSheetSuperAdmin : actionSheetOwn
        " (didDismiss)="setResult($event)" *ngIf="me?.super_admin === 1"></ion-action-sheet>

      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="detail-event-pages">
    <div *ngIf="isLoading">
      <ion-skeleton-text class="h-5" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="h-10" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="h-20" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="h-10" [animated]="true"></ion-skeleton-text>

      <ion-skeleton-text class="h-5" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="h-5" [animated]="true"></ion-skeleton-text>

      <ion-skeleton-text class="h-5" [animated]="true"></ion-skeleton-text>

      <ion-skeleton-text class="h-10" [animated]="true"></ion-skeleton-text>

      <ion-skeleton-text class="h-6" [animated]="true"></ion-skeleton-text>

      <ion-segment [value]="segmentStatus" (ionChange)="changeSegment($event)">
        <ion-segment-button value="0">
          <ion-skeleton-text class="h-6" [animated]="true"></ion-skeleton-text>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-skeleton-text class="h-6" [animated]="true"></ion-skeleton-text>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-skeleton-text class="h-6" [animated]="true"></ion-skeleton-text>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="!isLoading">
      <app-images-list [images]="data?.images " (zoom)="onZoom($event)" class="my-2"></app-images-list>

      <div class="p-4 text-black">
        <div class="date-time">
          {{ data?.event_date_start }}
          <span *ngIf="data?.event_date_end"> - </span>
          {{ data?.event_date_end }}
        </div>

        <div class="title">{{ data?.name }}</div>
        <p class="text-sm" [innerHTML]="data.content"></p>
        <div [class]="data?.fee_type !== 0 ? 'action-events fee' : 'action-events'">
          <div *ngIf="data?.fee_type !== 0" class="flex mt-1 mb-1 mr-1">
            <ion-icon name="cash-outline" class="mr-1"></ion-icon>
            <span class="mr-1 text-red-600 text-xs">{{ "TAB.HOME.FEE" | translate }}:</span>
            <span class="mr-1 text-red-600 text-xs" *ngIf="data?.fee_type === -1">{{ "COMMON.CONTACT" | translate
              }}</span>
            <span class="mr-1 text-red-600 text-xs" *ngIf="data?.fee_type > 0">{{ data?.fee_type.toLocaleString("it-IT",
              { style: "currency",
              currency: "VND" }) }}</span>
          </div>
        </div>
        <div class="location" *ngIf="data?.location" class="mt-1 mb-1 mr-1 flex">
          <ion-icon name="location-outline" class="p-0 text-left"></ion-icon><span class="ml-1 text-xs">{{
            data?.location }}</span>
        </div>
        <div class="type m-1">
          <span [class]="
              data?.event_type === 'online' ? 'icon-online' : 'icon-offline'
            "></span>
          <span class="text">{{ data?.event_type === "online" ? "Online" : "Offline" }}</span>
        </div>

        <div class="type m-1" *ngIf="data?.link" class="mt-1 mb-1 mr-1 flex">
          <ion-icon name="link-outline" class="p-0 text-left"></ion-icon>
          <a class="ml-1 text-xs text-blue-500" [href]="data?.link" target="_blank">{{data?.link}}</a>
        </div>

        <div class="text-xs italic items-center count mt-1 mb-1 mr-1 flex">
          <ion-icon name="people-outline" class="people"></ion-icon>
          <span *ngIf="data?.summary?.number_of_participates < 2">
            {{ data?.summary?.number_of_participates || 0 }} {{
            "PAGES.EVENTS.PERSON" | translate }} {{
            "PAGES.EVENTS.WILL_PARTICIPATE" | translate }}
          </span>
          <span *ngIf="data?.summary?.number_of_participates >= 2">
            {{ data?.summary?.number_of_participates || 0 }} {{
            "PAGES.EVENTS.PERSONS" | translate }} {{
            "PAGES.EVENTS.WILL_PARTICIPATE" | translate }}
          </span>
        </div>
        <div class="p-0 m-0 items-center" *ngIf="data.tags">
          <app-tags-list [tags]="data.tags"></app-tags-list>
        </div>

        <div *ngIf="data && data?.children" class="children-event">
          <div *ngFor="let child of data.children; index as inx" class="event-item"
            (click)="eventChildId === child.id ? null : handleClickEventChild(child.id)">
            <span>{{ child.event_date_start }}</span>
            <span *ngIf="child.event_date_end">
              - {{ child.event_date_end }}</span>
          </div>
        </div>
      </div>
      <app-reactions [data]="data" (heart)="onHeart($event)" (practice)="onWillParticipate($event)" [type]="'events'"
        [page]="'detail'" (redirect)="redirect($event)" [hostNameLocation]="hostNameLocation"></app-reactions>

      <ion-segment [value]="segmentStatus" (ionChange)="changeSegment($event)">
        <!-- <ion-segment-button value="0">
          <ion-label>{{ 'PAGES.EVENTS.ALBUMS' | translate}}</ion-label>
        </ion-segment-button> -->
        <ion-segment-button value="1">
          <ion-label>{{ 'PAGES.EVENTS.REGISTRANTS' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>{{ 'PAGES.EVENTS.COMMENT' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="segment-content">
        <div *ngIf="segmentStatus === 0">
          <app-images-list [images]="[{image_url: data.cover}]" (zoom)="onZoom($event)"></app-images-list>
        </div>
        <div *ngIf="segmentStatus === 1">
          <ion-card *ngFor="let participate of participates; index as i" class="participate">
            <ion-card-header style="position: relative">
              <ion-card-content>
                <app-avatar [isAvatar]="isAvatar" [classNameAvatar]="'item'" [data]="participate.user"
                  [isParticipate]="true"></app-avatar>
                <div class=" username" [routerLink]="['/tabs', 'users', participate?.user?.id]">
                  <div class="font-bold">{{ participate.user.username}}</div>
                  <div *ngIf="participate.user.is_public_phone">{{ participate.user.phone }}</div>
                </div>
              </ion-card-content>
              <div style="
                  position: absolute;
                  top: 30%;
                  right: 10%;
                  font-size: 24px;
                  color: #0866ff;
                ">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              </div>
            </ion-card-header>
          </ion-card>
          <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" *ngIf="participates.length">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>

        <div *ngIf="segmentStatus ===2">
          <div class="comments">
            <app-comment-list [me]="me" [authorId]="data?.author?.id" [comments]="comments"
              (replies)="onRepliesComment($event)" (editComment)="onEditComment($event)"
              (deleteComment)="onDeleteComment($event)"></app-comment-list>

            <ion-infinite-scroll (ionInfinite)="onIonInfiniteComments($event)" *ngIf="comments?.length">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </div>
        </div>
      </div>
    </div>


  </div>

  <app-preview-image [showModal]="showModal" [images]="images" (closeModal)="closeModal($event)"></app-preview-image>

  <ion-modal [isOpen]="isShowReport" class="modal-report" (didDismiss)="onCloseReport(false)">
    <ng-template>
      <app-report-form (getValues)="onGetValueReport($event)" (close)="onCloseReport($event)"></app-report-form>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalUpload" class="modal-upload-image">
    <ng-template>
      <app-album-image [isUploadSuccess]="isUploadSuccess" [images]="data.images" [data]="data"
        (addImage)="handleAddImage($event)" (removeImage)="handleRemoveImage($event)"
        (closeModal)="handleCloseUpload($event)"></app-album-image>
    </ng-template>
  </ion-modal>
</ion-content>

<app-send-comment *ngIf="segmentStatus === 2" (messageChange)="sendComments($event)" [replies]="repliesData"
  [data]="data" (removeReply)="onRemoveReply($event)"
  [message]="commentEdit?.parentName ?? commentEdit?.childrenName"></app-send-comment>