::ng-deep { /* to penetrate <ngx-editor> CSS styling */

    .NgxEditor {
      height: 10rem;
      overflow-y: scroll;
    }
  
    .NgxEditor__Content {
      min-height: 10rem; /* make all of the editor area clickable */
    }
  }